<%include partials/_header%>
<form action='/upload/<%=idTema%>' method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Subir">
</form>
<%include partials/_footer%>