<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<title></title>
	<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
<body>
	<nav class= "navbar navbar-expand-lg navbar-dark bg-dark">

	<a href = "/" class = "navbar-brand"> Gestor de Proyectos</a>
	 <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/alumnos">Alumnos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Temas</a>
      </li>
      <li class="dropdown">
        <%= console.log(isAuthenticated)%>
        <% if (isAuthenticated) { %>
         <% if (user.rol == "Administrador"){%>
            <li class="nav-item active">
            <a class="nav-link" href="/admin/usuarios">Usuarios</a>
            </li>
          <% } %>
        <a class="nav-link" data-toggle="dropdown" href="#"><%=user.nombre%> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/auth/logout">Cerrar Sesion</a></li>
          </ul>
          
      <% } else { %>
        <a class="nav-link" data-toggle="modal" href="#Signin">Iniciar Sesion </a> 
      </li>
      <li class="nav-item active">
        <a class="nav-link" data-toggle="modal" href="#Signup">Registrarse </a>
      </li>
    <% } %>
    </ul>
  </div>
	</nav>
  <div class="modal fade" id="Signin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Log in</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="card">
        <div class="card-body">
          <h1><span class="fa fa-sign-in"></span> Login</h1>
        <form action="/auth/signin" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>

        </div>
      </div>
      </div>

      
    </div>
  </div>
</div>
<div class="modal fade" id="Signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="card">
        <div class="card-body">
        <form action="/signUp" method= "post">
        <div class= "form-group">
          <input type="text" name="nombre" placeholder ="Nombre" class = "form-control">
        </div>
        <div class= "form-group">
          <input type="email" name="email" placeholder ="email" class = "form-control">
        </div>
        <div class= "form-group">
          <input type="password" name="password" placeholder ="password" class = "form-control">
        </div>
        <div class= "form-group">
          <select class="form-control" name="rol">
            <option>Estudiante</option>
            <option>Docente</option>
          </select>
        </div>
        <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
        </div>
      </div>
      </div>

      
    </div>
  </div>
</div>